*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


span, a{
    color: var(--color-orange);
}

:root{
    --color-orange: #FF9900;
    --Font-inter:'Inter', sans-serif;;
    --Font-open:'Open Sans', sans-serif;;
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    text-align: center;
    font-family: var(--Font-open);
}

#hero{
    width:59.2rem;
    margin: 0 auto 7.2rem;
}

#hero img{
    margin-bottom: 7.2rem;
}

#hero h1{
    font-size: 49px;
    font-weight: normal;
    font-family: var(--Font-inter);
    margin-bottom: 3.2rem;
}

#hero h1 span{
    font-weight: bold;
}

